/*
http://www.htmlbasix.com/stylesheet.shtml
https://www.fontsquirrel.com
*/
body {
    font-family: 'open_sansregular';
    color: #ffecdb;
    background-color: #965173;
    text-align: center;
    vertical-align: middle;
    margin: 3px;
    padding: 3px;
}
h1 {
    text-decoration: underline;
}
div {
    /*
    Nothing
    */
}
button {
    font-size: 87%;
}
form {
    font-weight: bold;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a {
    text-decoration:none
}